/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__com_alibaba_druid_1_1_3.xml
/.idea/libraries/Maven__com_alibaba_fastjson_1_2_15.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_10_1.xml
/.idea/libraries/Maven__com_github_jsonzou_jmockdata_4_1_2.xml
/.idea/libraries/Maven__com_github_xiaoymin_knife4j_annotations_2_0_2.xml
/.idea/libraries/Maven__com_github_xiaoymin_knife4j_core_2_0_2.xml
/.idea/libraries/Maven__com_github_xiaoymin_knife4j_spring_2_0_2.xml
/.idea/libraries/Maven__com_github_xiaoymin_knife4j_spring_boot_autoconfigure_2_0_2.xml
/.idea/libraries/Maven__com_github_xiaoymin_knife4j_spring_boot_starter_2_0_2.xml
/.idea/libraries/Maven__com_github_xiaoymin_knife4j_spring_ui_2_0_2.xml
/.idea/libraries/Maven__com_google_guava_guava_20_0.xml
/.idea/libraries/Maven__io_springfox_springfox_bean_validators_2_9_2.xml
/.idea/libraries/Maven__io_springfox_springfox_core_2_9_2.xml
/.idea/libraries/Maven__io_springfox_springfox_schema_2_9_2.xml
/.idea/libraries/Maven__io_springfox_springfox_spi_2_9_2.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_web_2_9_2.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger2_2_9_2.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_9_2.xml
/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_22.xml
/.idea/libraries/Maven__io_swagger_swagger_models_1_5_22.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_1.xml
/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_18.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_4.xml
/.idea/libraries/Maven__org_apache_commons_commons_pool2_2_7_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_12_1.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_29.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_29.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_29.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_5.xml
/.idea/libraries/Maven__org_bitbucket_mstrobel_procyon_compilertools_0_5_36.xml
/.idea/libraries/Maven__org_bitbucket_mstrobel_procyon_core_0_5_36.xml
/.idea/libraries/Maven__org_bitbucket_mstrobel_procyon_expressions_0_5_36.xml
/.idea/libraries/Maven__org_bitbucket_mstrobel_procyon_reflection_0_5_36.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_1.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_18_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_21_0_GA.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/.idea/libraries/Maven__org_jooq_jooq_3_12_3.xml
/.idea/libraries/Maven__org_jooq_jooq_codegen_3_12_3.xml
/.idea/libraries/Maven__org_jooq_jooq_meta_3_12_3.xml
/.idea/libraries/Maven__org_mapstruct_mapstruct_1_2_0_Final.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_16_18.xml
/.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/.idea/libraries/Maven__org_reflections_reflections_0_9_11.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_29.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_29.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aspects_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_orm_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/GrepConsole.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/my-swagger.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/target/classes/org/springbus/aspet/MyCustomerRequestMapping.class
/target/classes/org/springbus/aspet/MyRequestMappingHandlerAdapter.class
/target/classes/org/springbus/aspet/ProtocolAspect.class
/target/classes/org/springbus/config/ApiConfig.class
/target/classes/org/springbus/config/SwaggerConfiguration.class
/target/classes/org/springbus/controller/FormObjController.class
/target/classes/org/springbus/controller/UserController.class
/target/classes/org/springbus/convert/FormObj.class
/target/classes/org/springbus/convert/FormObjArgumentResolver.class
/target/classes/org/springbus/demo/Car.class
/target/classes/org/springbus/demo/Person.class
/target/classes/org/springbus/demo/SpringTest.class
/target/classes/org/springbus/mapper/UrlMapping.class
/target/classes/org/springbus/model/ArticleBO.class
/target/classes/org/springbus/model/BrandBO.class
/target/classes/org/springbus/model/Dept.class
/target/classes/org/springbus/model/Employee.class
/target/classes/org/springbus/ApiDocController.class
/target/classes/org/springbus/App.class
/target/classes/application.properties
/target/classes/car.xml
/target/classes/JooqConfig.xml
/target/classes/logback.xml
/target/test-classes/org/springbus/test/A.class
/target/test-classes/org/springbus/test/AppRun.class
